<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="TestPlugin\PluginCustom\Controller\Test\Test">
        <plugin name="TestPlugin_PluginCustom_Plugin1" type="TestPlugin\PluginCustom\Plugin\CustomPlugin" sortOrder="105" disabled="false"  />
        <plugin name="TestPlugin_PluginCustom_Plugin2" type="TestPlugin\PluginCustom\Plugin\CustomPlugin2" sortOrder="106" disabled="false"  />
        <plugin name="TestPlugin_PluginCustom_Plugin3" type="TestPlugin\PluginCustom\Plugin\CustomPlugin3" sortOrder="107" disabled="false"  />
    </type>
</config>