<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Event\ManagerInterface">
        <plugin name="list_all_dispatched_event" type="TestObserver\Test\Plugin\ListDispatchedEvents" sortOrder="100" disabled="false"/>
    </type>
</config>